* text=auto !eol
BAK-jun30/.htaccess -text
BAK-jun30/BingSiteAuth.xml -text
BAK-jun30/error.txt -text
BAK-jun30/favicon.ico -text svneol=unset#unset
BAK-jun30/images/headerbar.png -text
BAK-jun30/images/headerbar_shadow-BAK1.png -text
BAK-jun30/images/headerbar_shadow-BAK2.png -text
BAK-jun30/images/headerbar_shadow-BAK3.png -text
BAK-jun30/images/headerbar_shadow.png -text
BAK-jun30/images/img01.gif -text
BAK-jun30/images/img02.gif -text
BAK-jun30/images/img03.gif -text
BAK-jun30/images/img04.gif -text
BAK-jun30/images/index.html -text
BAK-jun30/images/rainbow.jpg -text
BAK-jun30/index-BAK.html -text
BAK-jun30/index.php -text
BAK-jun30/index2.php -text
BAK-jun30/license.txt -text
BAK-jun30/page_about.html -text
BAK-jun30/page_connect.html -text
BAK-jun30/page_home.html -text
BAK-jun30/page_privacy.html -text
BAK-jun30/page_projects.html -text
BAK-jun30/robots.txt -text
BAK-jun30/sitemap.xml -text
BAK-jun30/style.css -text
BAK-jun30/template_error.php -text
BAK-jun30/template_footer.php -text
BAK-jun30/template_header.php -text
BAK-jun30/template_header2.php -text
BAK-jun30/template_introduction.php -text
BAK-jun30/template_sidebar-BAK.php -text
BAK-jun30/template_sidebar.php -text
BAK-jun30/template_tracking.php -text
/BingSiteAuth.xml -text
/favicon.ico -text svneol=unset#unset
images/fibo.png -text
images/headerbar.png -text
images/headerbar_shadow-BAK1.png -text
images/headerbar_shadow-BAK2.png -text
images/headerbar_shadow-BAK3.png -text
images/headerbar_shadow.png -text
images/img01.gif -text
images/img02.gif -text
images/img03.gif -text
images/img04.gif -text
images/index.html -text
images/rainbow.jpg -text
images/rainbow_dots.png -text
images/valid-xhtml11-blue.png -text
images/vcss-blue.gif -text
/index-BAK.html -text
/index.php -text
/index2.php -text
m/index.html -text
m/style-mobi.css -text
/page_about.html -text
/page_connect.html -text
/page_home.html -text
/page_privacy.html -text
/page_projects.html -text
projects/bash/batch_print.sh -text
projects/bash/multitouch.sh -text
projects/index.php -text
projects/index2.php -text
projects/projects_bash[!!-~](titan[!!-~]-[!!-~]arch64's[!!-~]conflicted[!!-~]copy[!!-~]2012-08-04).html -text
projects/projects_bash.html -text
projects/projects_error.html -text
projects/projects_home[!!-~](titan[!!-~]-[!!-~]arch64's[!!-~]conflicted[!!-~]copy[!!-~]2012-08-04).html -text
projects/projects_home.html -text
projects/projects_php.html -text
projects/projects_python.html -text
projects/projects_ticalc.html -text
projects/projects_ticalculator.html -text
projects/ticalc/FIBO.8Xp -text svneol=unset#unset
projects/ticalc/GUESS.txt -text
projects/ticalc/fibo.txt -text
projects/ticalc/intrst.txt -text
projects/ticalc/pong.txt -text
projects/ticalculator/FIBO.8Xp -text svneol=unset#unset
projects/ticalculator/fibo.txt -text
projects/ticalculator/guess.txt -text
projects/ticalculator/intrst.txt -text
projects/ticalculator/pong.txt -text
projects/unready/projects_java.html -text
projects/unready/projects_php.html -text
projects/unready/projects_python.html -text
/robots.txt -text
/sitemap.xml -text
/style.css -text
/template_error.php -text
/template_footer.php -text
/template_header.php -text
/template_header2.php -text
/template_introduction.php -text
/template_sidebar-BAK.php -text
/template_sidebar.php -text
/template_tracking.php -text
