# Filetype definitions
AddType text/plain sh
AddType text/plain py

# SEO friendly pages, if rewriting available (turn on friendly urls in
# site core_config file for this to work the best).
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule page/([^/]*)$ /index.php?id=$1 [L]
RewriteRule blog/read/([^/]*)\.htm$ /blog/post.php?node=$1 [L]
</IfModule>

# Custom error pages
ErrorDocument 404 /index.php?id=error&type=404
ErrorDocument 403 /index.php?id=error&type=403

# Temporary URL redirection
RedirectMatch "sitemap.xml$" http://www.thenaterhood.com/sitemap.php
RedirectMatch "scratchandsniff$" /?id=scratchhere
RedirectMatch "/projects$" /?id=projects

# URL Redirection for The Philosophy of Nate
RedirectMatch 301 "blog/feeds/posts/default$" http://www.thenaterhood.com/blog/feed.php
RedirectMatch 301 "blog/2009/07/google-voice-turn-ons-and-hang-ups.html$" http://www.thenaterhood.com/blog/post.php?node=2009.07.19
RedirectMatch 301 "blog/2009/07/downsides-to-mobile-life-part-1.html$" http://www.thenaterhood.com/blog/post.php?node=2009.07.29
RedirectMatch 301 "blog/2009/08/downsides-to-mobile-life-part-2.html$" http://www.thenaterhood.com/blog/post.php?node=2009.08.07
RedirectMatch 301 "blog/2009/08/downsides-to-mobile-life-part-3-health.html$" http://www.thenaterhood.com/blog/post.php?node=2009.08.14
RedirectMatch 301 "blog/2009/08/downsides-to-mobile-life-conclusions.html$" http://www.thenaterhood.com/blog/post.php?node=2009.08.21
RedirectMatch 301 "blog/2009/09/googles-global-downtime.html$" http://www.thenaterhood.com/blog/post.php?node=2009.09.01
RedirectMatch 301 "blog/2009/10/windows-live-hotmail-accounts.html$" http://www.thenaterhood.com/blog/post.php?node=2009.10.05
RedirectMatch 301 "blog/2009/10/update-to-account-compromises-2.html$" http://www.thenaterhood.com/blog/post.php?node=2009.10.07
RedirectMatch 301 "blog/2009/10/do-you-know-where-you-are.html$" http://www.thenaterhood.com/blog/post.php?node=2009.10.14
RedirectMatch 301 "blog/2009/10/reviews-of-openid-chimp.html$" http://www.thenaterhood.com/blog/post.php?node=2009.10.21
RedirectMatch 301 "blog/2009/10/facebook-memorials.html$" http://www.thenaterhood.com/blog/post.php?node=2009.10.26
RedirectMatch 301 "blog/2009/11/reviews-of-openid-verisign-personal.html$" http://www.thenaterhood.com/blog/post.php?node=2009.11.02
RedirectMatch 301 "blog/2009/11/reviews-of-openid-your-internet-id-yiid.html$" http://www.thenaterhood.com/blog/post.php?node=2009.11.09
RedirectMatch 301 "blog/2009/11/reviews-of-openid-myopenid.html$" http://www.thenaterhood.com/blog/post.php?node=2009.11.16
RedirectMatch 301 "blog/2009/11/reviews-of-select-openid-in-summary.html$" http://www.thenaterhood.com/blog/post.php?node=2009.11.30
RedirectMatch 301 "blog/2009/12/facebook-privacy-update.html$" http://www.thenaterhood.com/blog/post.php?node=2009.12.05
RedirectMatch 301 "blog/2009/12/facebooks-new-privacy-controls.html$" http://www.thenaterhood.com/blog/post.php?node=2009.12.10
RedirectMatch 301 "blog/2009/12/where-on-earth-is-your-data.html$" http://www.thenaterhood.com/blog/post.php?node=2009.12.16
RedirectMatch 301 "blog/2009/12/microsoft-loses-patent-ruling.html$" http://www.thenaterhood.com/blog/post.php?node=2009.12.23
RedirectMatch 301 "blog/2009/12/interesting-tidbits-of-2009.html$" http://www.thenaterhood.com/blog/post.php?node=2009.12.30
RedirectMatch 301 "blog/2010/01/simplicity-vs-security.html$" http://www.thenaterhood.com/blog/post.php?node=2010.01.06
RedirectMatch 301 "blog/2010/01/file-storage-from-google.html$" http://www.thenaterhood.com/blog/post.php?node=2010.01.12
RedirectMatch 301 "blog/2010/01/googles-new-position-on-china.html$" http://www.thenaterhood.com/blog/post.php?node=2010.01.13
RedirectMatch 301 "blog/2010/01/blaming-internet-explorer.html$" http://www.thenaterhood.com/blog/post.php?node=2010.01.20
RedirectMatch 301 "blog/2010/01/warning-to-dsi-users-with-sd-cards.html$" http://www.thenaterhood.com/blog/post.php?node=2010.01.21
RedirectMatch 301 "blog/2010/01/back-to-pen-and-paper.html$" http://www.thenaterhood.com/blog/post.php?node=2010.01.26
RedirectMatch 301 "blog/2010/02/aggregating-your-web-presence.html$" http://www.thenaterhood.com/blog/post.php?node=2010.02.03
RedirectMatch 301 "blog/2010/02/google-buzz-and-facebook-layout.html$" http://www.thenaterhood.com/blog/post.php?node=2010.02.11
RedirectMatch 301 "blog/2010/02/buzz-about-google-buzz.html$" http://www.thenaterhood.com/blog/post.php?node=2010.02.16
RedirectMatch 301 "blog/2009/04/internet-filtering-ethical-or-unethical.html$" http://www.thenaterhood.com/blog/post.php?node=2010.02.24
RedirectMatch 301 "blog/2010/03/electronics-in-classroom.html$" http://www.thenaterhood.com/blog/post.php?node=2010.03.01
RedirectMatch 301 "blog/2010/03/how-we-should-protect-our-friends.html$" http://www.thenaterhood.com/blog/post.php?node=2010.03.16
RedirectMatch 301 "blog/2010/03/whats-your-legacy.html$" http://www.thenaterhood.com/blog/post.php?node=2010.03.24
RedirectMatch 301 "blog/2010/04/i-dare-you-to-give-this-thought.html$" http://www.thenaterhood.com/blog/post.php?node=2010.04.02
RedirectMatch 301 "blog/2010/05/subscription-changes.html$" http://www.thenaterhood.com/blog/post.php?node=2010.05.13
RedirectMatch 301 "blog/2010/08/review-of-ipad.html$" http://www.thenaterhood.com/blog/post.php?node=2010.08.09
RedirectMatch 301 "blog/2010/11/thoughts-on-windows-7.html$" http://www.thenaterhood.com/blog/post.php?node=2010.11.14
RedirectMatch 301 "blog/2011/01/dropbox-and-dropquest-2011.html$" http://www.thenaterhood.com/blog/post.php?node=2011.01.18
RedirectMatch 301 "blog/2011/02/mobile-security.html$" http://www.thenaterhood.com/blog/post.php?node=2011.02.10
RedirectMatch 301 "blog/2011/03/facebook-is-contagious.html$" http://www.thenaterhood.com/blog/post.php?node=2011.03.09
RedirectMatch 301 "blog/2011/03/how-internet-is-crucial-in-crisis.html$" http://www.thenaterhood.com/blog/post.php?node=2011.03.17
RedirectMatch 301 "blog/2011/03/review-of-firefox-4.html$" http://www.thenaterhood.com/blog/post.php?node=2011.03.24
RedirectMatch 301 "blog/2011/03/upgrading-to-firefox-4.html$" http://www.thenaterhood.com/blog/post.php?node=2011.03.27
RedirectMatch 301 "blog/2009/03/social-networking-good-and-bad.html$" http://www.thenaterhood.com/blog/post.php?node=2011.04.13
RedirectMatch 301 "blog/2011/04/easiest-ways-to-stay-secure-online.html$" http://www.thenaterhood.com/blog/post.php?node=2011.04.21
RedirectMatch 301 "blog/2011/05/reviewing-gnome-3.html$" http://www.thenaterhood.com/blog/post.php?node=2011.05.03
RedirectMatch 301 "blog/2011/05/what-site-leaked-your-data.html$" http://www.thenaterhood.com/blog/post.php?node=2011.05.20
RedirectMatch 301 "blog/2011/05/ad-blocking-ethics.html$" http://www.thenaterhood.com/blog/post.php?node=2011.05.31
RedirectMatch 301 "blog/2011/06/losing-cursor.html$" http://www.thenaterhood.com/blog/post.php?node=2011.06.15
RedirectMatch 301 "blog/2011/06/what-site-to-trust-next.html$" http://www.thenaterhood.com/blog/post.php?node=2011.06.21
RedirectMatch 301 "blog/2011/06/lowdown-on-google.html$" http://www.thenaterhood.com/blog/post.php?node=2011.06.30
RedirectMatch 301 "blog/2011/07/what-google-means-for-facebook.html$" http://www.thenaterhood.com/blog/post.php?node=2011.07.05
RedirectMatch 301 "blog/2011/07/google-takes-on-facebook.html$" http://www.thenaterhood.com/blog/post.php?node=2011.07.07
RedirectMatch 301 "blog/2011/07/google-and-facebooks-new-looks.html$" http://www.thenaterhood.com/blog/post.php?node=2011.07.17
RedirectMatch 301 "blog/2011/07/whats-up-with-linux.html$" http://www.thenaterhood.com/blog/post.php?node=2011.07.20
RedirectMatch 301 "blog/2011/08/my-browser-said-what.html$" http://www.thenaterhood.com/blog/post.php?node=2011.08.01
RedirectMatch 301 "blog/2011/08/how-to-run-online-scam.html$" http://www.thenaterhood.com/blog/post.php?node=2011.08.09
RedirectMatch 301 "blog/2011/08/linux-30-is-big-deal-kind-of.html$" http://www.thenaterhood.com/blog/post.php?node=2011.08.19
RedirectMatch 301 "blog/2011/10/aaandd-were-back.html$" http://www.thenaterhood.com/blog/post.php?node=2011.10.26
RedirectMatch 301 "blog/2011/11/whats-up-with-secure-boot.html$" http://www.thenaterhood.com/blog/post.php?node=2011.11.08
RedirectMatch 301 "blog/2012/01/internet-speaks-up-about-sopa.html$" http://www.thenaterhood.com/blog/post.php?node=2012.01.18
RedirectMatch 301 "blog/2012/02/googles-latest-privacy-woes.html$" http://www.thenaterhood.com/blog/post.php?node=2012.02.22
RedirectMatch 301 "blog/2012/02/some-blog-news.html$" http://www.thenaterhood.com/blog/post.php?node=2012.02.28
RedirectMatch 301 "blog/2012/06/aaandd-were-back.html$" http://www.thenaterhood.com/blog/post.php?node=2012.06.08
RedirectMatch 301 "blog/2012/06/why-hate-for-windows-8.html$" http://www.thenaterhood.com/blog/post.php?node=2012.06.20
RedirectMatch 301 "blog/2012/07/platform-vs-platform.html$" http://www.thenaterhood.com/blog/post.php?node=2012.07.17
RedirectMatch 301 "blog/2012/08/losing-your-digital-life-to-hacking.html$" http://www.thenaterhood.com/blog/post.php?node=2012.08.08
RedirectMatch 301 "blog/2012/10/learning-from-apple-maps.html$" http://www.thenaterhood.com/blog/post.php?node=2012.10.02
RedirectMatch 301 "blog/2012/10/the-upgrade-to-windows-8.html$" http://www.thenaterhood.com/blog/post.php?node=2012.10.22
RedirectMatch 301 "blog/2012/12/windows-8-two-months-later.html$" http://www.thenaterhood.com/blog/post.php?node=2012.12.18
RedirectMatch 301 "blog/2013/02/facebook-graph-search.html$" http://www.thenaterhood.com/blog/post.php?node=2013.02.05
RedirectMatch 301 "blog/2013/02/were-moving.html$" http://www.thenaterhood.com/blog/post.php?node=2013.02.24
