
@keyframes logo-from-horz {
	100% {
		transform : translateX(0);
		opacity : 1;
	}
}

@keyframes logo-from-vert {
	100% {
		transform : translateY(0);
		opacity : 1;
	}
} 

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: black;
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-size: 12px;
}

img {
	border: 0px;
}

#upperbar {
	position: absolute;
	background: url(/images/headerbar_shadow.png) repeat-x;
	left: 0px;
	top: 37px;
	width: 100%;
	height: 170px;
	z-index: -1;
}

div.sitelinks {
	position: relative;
	height: 30px;
	text-size: 1em;
	background: #FFFFFF;
}
h1, h2, h3 {
	padding: 0;
	font-weight: normal;
	color: #000000;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}
p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}
ul, ol {
}
a {
	text-decoration: none;
	/* color: #dd7700; */
	color: #00bfff;
}

table.introduction{
	border: 0px;
	width: 780px;
	z-index: 2;
	text-align: left;
	vertical-align: text-middle;

}

a:hover {
	text-decoration: none;
	color: black;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0;
}
/* Header */
/* Note- this controls where the content starts, modify the height */
#header {
	clear: both;
	margin-top: 10px;
	margin-left: 85px;
	width: 790px;
	height: 130px;
	float: left;
	padding: 0px;
}

#altHeader {
	font-size: .8em;
	padding-bottom: 5px;
}

/* Logo */
#logo {
	margin: 0;
	padding: 9px 0px 0px 40px;
	color: #000000;
	font-size: .8em;
	text-transform: uppercase;
	font-family: Electrolize;
}
#siteversion {
	position: absolute;
	margin-left: 130px;
	top: 8px;
	color: black;
}
#logo2 {
	-webkit-animation: logo-from-horz 1s ease forwards;
	-o-animation: logo-from-horz 1s ease forwards;
	animation: logo-from-horz 1s ease forwards;
	-webkit-transform: translateX(-768px);
	-ms-transform: translateX(-768px);
	-o-transform: translateX(-768px);
	transform: translateX(-768px);
	margin-top: -25px;
	padding: 0px 0px 0px 0px;
	float: right;
	color: white;
	text-transform: capitalize;
	position: relative;
}
a.nav {
	text-decoration: none;
	color: #00bfff;
}
a.nav:hover {
	text-decoration: underline;
}
.siteurl {
	display: inline;
	list-style-type: none;
	padding-left: 20px;
	font-size: 1.11em;
	color: white;
	font-family: Electrolize;
}
#catchline {
	-webkit-animation: logo-from-horz 1s ease forwards;
	-o-animation: logo-from-horz 1s ease forwards;
	animation: logo-from-horz 1s ease forwards;
	-webkit-transform: translateX(-300px);
	-ms-transform: translateX(-300px);
	-o-transform: translateX(-300px);
	transform: translateX(-300px);
	font-size: 1.7em;
	margin: 0;
	padding: 0px 0px 0px 0px;
	color: #00bfff;
	text-transform: capitalize;
}
#logo h1, #logo p {
	-webkit-animation: logo-from-horz 1s ease forwards;
	-o-animation: logo-from-horz 1s ease forwards;
	animation: logo-from-horz 1s ease forwards;
	-webkit-transform: translateX(-300px);
	-ms-transform: translateX(-300px);
	-o-transform: translateX(-300px);
	transform: translateX(-300px);
	margin: 0;
	padding: 0;
}
#logo h1{
	padding-top: 40px;
	letter-spacing: 1px;
	font-size: 3.8em;
	color: #00bfff;
}
#logo p {
	margin: 0;
	padding: 0px 0 0 10px;
	font-style: italic;
	color: #00bfff;
} 
#logo a {	
    border: none;	
    background: none;	
    text-decoration: none;	
    color: #00bfff;
}

/* Search */
#search {	
    text-align: center;	
    width: 280px;	
    height: 60px;	
    padding: 20px 0px 0px 0px;
}

/* Page *//* Feedburner Buzzboost styling */
div.feedburnerFeedBlock {	
    margin-left: -40px;
}
span.headline {	
    font-size: 1em;	
    padding: 0px 0px 0px 0px;
}
p.date {	
    font-size: 1.1em;	
    padding: 0px 0px 0px 0px;	
    text-transform: uppercase;	
    color: #787878;
}

/* End Buzzboost styling */
#page {	
    width: 768px;	
    margin: 0 auto;	
    padding: 0px 0px 0px 0px;
}

/* Content */
#content {	
	-webkit-animation: logo-from-vert 1s ease forwards;
	-o-animation: logo-from-vert 1s ease forwards;
	animation: logo-from-vert 1s ease forwards;
	-webkit-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);
    float: left;
    margin-left: 25px;
    /* width: 660px; */	
    padding: 0px 0px 0px 0px;
}

.entry {
    /* padding top idk idk left*/	
    padding: 0px 0px 20px 40px;	
    padding-bottom: 20px;	
    text-align: justify;	
    font-size: 1.21em;	
    margin-left: -40px;
}

/* Blog styling code */
.title {
	padding-top: 15px;
}

.date {
	font-size: .8em;
}

.tags {

}

ul, li {
	list-style-type: none;
    margin-left: 0px;
}


/* Footer */
#footer {
	height: 90px;	
    margin: 0 auto;	
    padding: 0px 0 15px 0;
	background: url(/images/footer_back_shadow.png) repeat-x;
	background-size: 2px 100px;
}
#footer p {	
    margin: 0;	
    padding-top: 3px;	
    line-height: normal;	
    font-size: .9em;	
    text-transform: capitalize;	
    text-align: center;	
    color: black;
}

ul.footerurl {
	padding-left: 50px;
}

.footerurl {
	display: inline;
	list-style-type: none;
	padding-top: 10px;
	padding-right: 10px;
	font-size: .9em;
	color: black;
}
#greeting_spacer {	
    top: 50px;	height: 10px;
}
h2.greeting {
	font-size: 1.7em;
}
#footer a {	
    color: #00bfff;
}

#footer a.hover {
    color: black;
}
